    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Object Zone Details</h3>
            </div>
            <div class="box-body">
              <form action="" method="post">
                {% csrf_token %}
                
              <div class="form-group">
                  <label for="">From</label>
                  <input type="text" name="from" id="date-picker-from">
                </div>

                <div class="form-group">
                  <label for="">To</label>
                  <input type="text" name="to" value="{{currentdate}}" class="date-picker">
                </div>
              
                <select name="filter-zone">
                  <option value="" selected>All Zones</option>
                  {% for data in zones %}
                  <option value="{{data.zonename}}">{{data.zonename}}</option>
                  {% endfor %}
                </select>

                <select name="filter-sensor-id">
                  <option value="" selected>All Sensors</option>
                  {% for data in sensor_id %}
                  <option value="{{data.sensorid}}">{{data.sensorid}}</option>
                  {% endfor %}
                </select>

                <select name="filter-object-type">
                  <option value="" selected>All object types</option>
                  {% for data in object_types %}
                  <option value="{{data.objecttypeid}}">{{data.objecttypename}}</option>
                  {% endfor %}
                </select>

                <div>
                  <input type="radio"  name="active"  value="Y"
                         checked>
                  <label for="activerecord">Active Records</label>
                </div>

                <div>
                  <input type="radio"  name="active"  value="N">
                  <label for="activerecord">Deactive Records</label>
                </div>

                <div class="form-group">
                <button type="submit" class="btn btn-info">Filter</button>
              </div>

              </form>

              

              <table id="example2" class="table table-bordered table-hover detail-table">
                <thead>
                <tr>
                  <th>Zone Name</th>
                  <th>Sensor ID</th>
                  <th>Object Name</th>
                  <th>Object Type</th>
                  <th>Paramvalues</th>
                  <th>Dashboard Links</th>
                  <th>Updated Date & Time</th>
                  
                </tr>
                </thead>
                <tbody>
                  {% for data in details %}
                <tr>
                  <td>{{data.zonename}}</td>
                  <td>{{data.sensorid}}</td>
                  <td>{{data.objectname}}</td>
                  <td>{{data.objecttypeid.objecttypename}}</td>
                  <td>{{data.paramvalues}}</td>
                  {% if data.dashboardlink %}
                    <td><a href="{{data.dashboardlink}}" target="_blank">here</a> </td> 
                  {% else %}
                    <td></td> 
                  {% endif %}
                  <td>{{data.updateddatetime}}</td>     

                </tr>
                  {% endfor %}
                </tbody>
              </table>
              

            </div>
            
          </div>
        </div>
        <!-- /.col -->
      </div>
    </section>
    {% endblock %}

    {% block script %}

<script type="text/javascript">
  $(function() {
      $("#date-picker-from").datepicker({ dateFormat: "yy-mm-dd" , maxDate: '-1'});
      
  });

</script> 
{% endblock %}